{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Booking{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Booking</h2>
<h4 id="balance">Balance: ${{ user.balance }} </h4><br>

<div id="listing">
    Owner: {{listing.owner.username}}
    <h3>
        {{ listing.title }}<br>
        ${{ listing.price / 100 }} &nbsp;&nbsp;&nbsp;
    </h3>
    
    Address: {{listing.address}}
    <h4>{{ listing.description }}</h4> 
    Created: {{listing.date_created}} | Modified: {{listing.last_modified_date}}<br>
    -----------------------------------------------------------------------
</div>
  
<form method="post">
    <div class="form-group">
        <label for="start">Start Date:</label>
        <input type="date" id="start" name="trip-start"
            value="2018-01-02"
            min="2018-01-02" max="2018-12-31"><br>
    
        <label for="end">End Date:</label>&nbsp;&nbsp;
        <input type="date" id="end" name="trip-end"
            value="2018-07-22"
            min="2018-01-03" max="2018-12-31"><br>

        <input class="btn btn-primary" type="submit" value="Confirm Booking">
        <a href='/' class="btn" id="btn-submit" >Back</a>
    </div> 
</form>   
{% endblock %}