{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home Page{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.username }}!</h2>

<a href='/create_listing' class="btn btn-primary" id="btn-submit" >Create Listing</a>
<a href='/user_listings' class="btn btn-primary" id="btn-submit" >Update Your Listings</a>
<a href='/user_update' class="btn btn-primary" id="btn-submit" >Update User Profile</a>
<br> <br>

<h2>All Available Listings</h2>

<div id="listings">
    {% for listing in listings %}
    <div>
        <h4>{{ listing.title }} | ${{ listing.price / 100.00 }} | Seller: {{ listing.owner.username }}
        </h4>
            <h5>{{ listing.description }}</h5>
    </div>
    {% endfor %}
</div>

<a href='/logout'>logout</a>
{% endblock %}