{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home Page{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.username }}!</h2>
<h4 id="balance">Balance: ${{ user.wallet.balance }} </h4>

<a href='/user_update' class="btn btn-primary" id="btn-submit" >My Profile</a>
<a href='/user_listings' class="btn btn-primary" id="btn-submit" >My Listings</a>
<a href='/create_listing' class="btn btn-primary" id="btn-submit" >Create Listing</a>
<br> <br>

<h3>Listings</h3>

<div id="listings">
    {% for listing in listings %}
    <div>
        <h4>
            <div id="listing">{{ listing.title }} </div>
            ${{ listing.price / 100 }} &nbsp;&nbsp;&nbsp;
            <a href='/booking/{{ listing.id }}' class="btn" >Book</a><br>
        </h4>
        <h5>{{ listing.description }}</h5> 
        -----------------------------------------------------------------------
    </div>
    {% endfor %}
</div>

<a href='/logout'>logout</a>
{% endblock %}