{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home Page{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.username }}!</h2>
<div style="text-align:left;Width:660px;">
    <h4 id="balance" style="display:inline">Balance: ${{ user.balance }}</h4>
    <a href='/logout' style="float:right;">Logout</a>
</div><br>

<a href='/user_update' class="btn " id="btn-submit" >My Profile</a>
<a href='/user_listings' class="btn" id="btn-submit" >My Listings</a>
<a href='/user_bookings' class="btn " id="btn-submit" >My Bookings</a>
<a href='/create_listing' class="btn " id="btn-submit" >Create Listing</a>
<br><br>

<h3>Listings</h3>
<div id="listings">
    {% for listing in listings %}
    <div id="listing" style='Width:645px;'>
        <a style="Color:rgb(219, 79, 208)">Owner: {{listing.owner.username}}</a>
        <h4>
            {{ listing.title }}<br>
            ${{ listing.price / 100 }} / Night
        </h4>

        Address: {{listing.address}}
        <h5>{{ listing.description }}</h5> 
        <div style=Width:660px;>
            <a style="Color:rgb(219, 79, 208)">Created: {{listing.date_created}} | Modified: {{listing.last_modified_date}}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href='/booking/{{ listing.id }}' class="btn btn-primary">Book</a>
        </div>
    </div>
    -------------------------------------------------------------------------------------
    {% endfor %}
</div>
{% endblock %}