{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Listing{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2 id="welcome-header">Update your listing below!</h2>

<h4 id="messages">
  {% for message in messages %} 
  {{ message }}<br>
  {% endfor %}
</h4>
<form method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="title" id="title" value="{{listing.title}}"{{listing.title}} required>
    <label for="description">Description</label>
    <input class="form-control" name="description" id="description" value="{{listing.description}}"{{listing.description}} required>
    <label for="price">Price</label>
    <input class="form-control" type="number" step="0.01" name="price" id="price" value="{{listing.price / 100}}"{{listing.price}} required>
    <label for="price">Address</label>
    <input class="form-control" name="address" id="address" value="{{listing.address}}"{{listing.address}} required>
    <input class="btn btn-primary" type="submit" value="Save changes">
    <a href='/' class="btn btn-primary" id="btn-submit" >Back to home</a>
  </div>
</form>
{% endblock %}