{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Listings{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Select Listing</h2>

<form method="post">
    <div id="listings">
        {% for listing in listings %}
        <div>
            <input type="radio" id={{listing.id}} name="id" value={{listing.id}}>
            <label for="listing">{{listing.title}}</label><br>
        </div>
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

<div>
    <a href='/' class="btn" id="btn-submit" >Back</a>

</div>
<a href='/logout'>logout</a>
{% endblock %}