{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Listings{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Select Listing</h2>

<form method="post">
    <div id="listings">
        {% for listing in listings %}
        <h3>
            {{ listing.title }}<br>
            ${{ listing.price / 100 }} &nbsp;&nbsp;&nbsp;
            <a href='/update_listing/{{ listing.id }}' class="btn" >Edit</a>
            <input type="radio" id={{listing.id}} name="id" value={{listing.id}}>
        </h3>
        
        Address: {{listing.address}}
        <h4>{{ listing.description }}</h4> 
        Created: {{listing.date_created}} | Modified: {{listing.last_modified_date}}<br>
        -----------------------------------------------------------------------
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
    <a href='/' class="btn" id="btn-submit" >Back</a>
</form>
{% endblock %}

